html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  background-color: #F9F9F9;
}

#header {
	background: url(images/background_cinza_claro.png) repeat center top;
  margin: 0px;
  width: 100%;
  min-width: 940px;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  z-index: 999;
}

#header .wrapper {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

#content {
	padding-top: 20px;
  height: 1200px;
}

#separador {
	padding-top: 20px;
	bottom: 0;
	left: 0;
	width: 900px;
	height: 28px;
	display: inline-block;
	background: transparent url(images/separador.png) no-repeat center;
}

h1 {
	color: #3A89C9;
	font-family: "museo-sans";
	font-size: 36px;
	text-align: center;
}


#content h2 {
	color: #6b6b6b;
	font-family: "museo-sans";
	font-size: 20px;
	text-align: center;
}

#content h1 em {
	font-weight: 700;
	font-style: italic;
}

.border_main_banner {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;

}

.main_banner {
	margin: 10px 10px;
	padding: 0px;
	position: relative;
	overflow:hidden;
	font-family: "museo-sans";
	color: #6b6b6b;
	font-size: 16px;
	font-weight: 300;
	height: 300px;
}

.main_banner h1 {
	color: #F26C4F;
	font-family: "museo-sans";
	font-size: 26px;
	text-align: left;
}

.left {
	float: left;	
	width: 450px;
}

.secondary_banner_white {
	margin: 10px 10px;
	padding: 0px;
	position: relative;
	font-family: "museo-sans";
	color: #6b6b6b;
	font-size: 16px;
	font-weight: 300;
}

.secondary_banner_blue {
	margin: 10px 10px;
	padding: 0px;
	position: relative;
	font-family: "museo-sans";
	color: #6b6b6b;
	font-size: 16px;
	font-weight: 300;
}

.border_secondary_banner_blue {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	background-color: #E9F2F9;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

.border_secondary_banner_white {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

.secondary_banner_blue h1 {
	color: #3A89C9;
	font-family: "museo-sans";
	font-size: 24px;
	text-align: left;
}

.secondary_banner_white h1 {
	color: #F26C4F;
	font-family: "museo-sans";
	font-size: 24px;
	text-align: left;
}

.secondary_banner_white h1 em {
	font-weight: 700;
	font-style: italic;
}

.secondary_banner_blue h1 em {
	font-weight: 700;
	font-style: italic;
}

