html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

h1, h2 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing:2px;
}

html {
  /*font-family: "museo-sans", tahoma, verdana, arial, sans;*/
  font-family: 'Droid Sans', Arial, sans-serif;
}
p {
  line-height: 1.4em;
}

body {
  background: url(gradient_squares.png);
  /*background-color: #EEEBEB; #F9F9F9;*/
  padding-bottom: 20px;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
  min-width: 960px;
}

/*li {
	width: 940px;
}*/

#header {
  /*background: url(images/background_cinza_claro.png) repeat center top; */
  background: url(subtlenet2.png);
  margin: 0px;
  width: 100%;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  z-index: 999;
}

#header .logo {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

#content {
	padding-top: 30px;
    height: 500px;
	font-size: 18px;
	color: #6b6b6b;
	/*font-weight: 300;*/
}

em {
	font-weight: 700;
	font-style: italic;
}

h1 {
	color: #fe5d42;
	font-size: 36px;
	text-align: center;
}


h2 {
	color: #6b6b6b;
	font-size: 20px;
	text-align: center;
}

.columns {
	margin: 1em auto;
	max-width: 980px;
	padding: 0;
	position: relative;
}

.columns h2 {
	color: #3A89C9;
	font-size: 20px;
}

.cel-a {
	float: left;
	width: 30%;
	
}

.cel-b {
	float: left;
	padding: 0 0 0 2em;
	width: 30%;

}

.cel-c {
	float: left;
	padding: 0 0 0 2em;
	width: 30%;
}



/*
.border_main_banner {
	margin: auto;
	margin-top: 20px;
	width: 900px;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
*/

#slider_content {
	position: relative;
	height: 400px;
	top: -30px;
}

#main_banner {
	margin: 80px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main_banner div ul li{
	height: 400px !important;
	/*border: 1px solid green !important;*/
	display: block;
}

.next, .prev {
  display: block;
  height: 45px;
  position: absolute;
  top: 170px;
  text-indent: -9000px;
  width: 37px;
}

.prev {
  left: -60px;
  background: url('arrows.png') 0 -105px no-repeat;
}

.prev:hover {
  background: url('arrows.png') 0 -158px no-repeat;
}

.next {
  background: url('arrows.png') 0 -0px no-repeat;
  right: -60px;
}

.next:hover {
  background: url('arrows.png') 0 -52px no-repeat;
}


#main_banner h1 {
	color: #FE5D42;
	font-size: 26px;
	text-align: left;
}

.left {
	float: left;	
	width: 450px;
}

.right {
	float: right;
	width: 450px;	
}

#footer {
  color: #6b6b6b;
  font-size: 13px;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  padding: 10px;
  background-color: #fff;
}

#footer h1 {
	color: #FE5D42;
	font-size: 24px;
	text-align: left;
}

#footer form {
  margin-top: 25px;
}

#footer form input {
  padding: 5px;
}

.jcarousel-clip {
	width: 1000px;	
}

.fancy_button {
	font-size: 16px;
	color: #fff;
	padding: 6px;  
	background-color: #3A89C9; /* for fallback */
	background-image: -moz-linear-gradient(center top , #3A89C9, #3A89C9);
	background: -webkit-gradient(linear, left top, left bottom, from(#3A89C9), to(#3A89C9)); /* For WebKit (Safari, Google Chrome etc) */
    border: 1px solid;    
    border-color: transparent transparent rgba(124,173,82,0.27) transparent; 
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;  
    -webkit-background-clip: padding-box;
	text-shadow: 0 -1px 0 #b0d9ad;
	padding: 6px 10px
}

.fancy_button:hover {
	color: #1B325F;
	background-color: #9CC4E4; /* for fallback */
	background-image: -moz-linear-gradient(center top , #9CC4E4, #9CC4E4);
	box-shadow: 0 1px 2px rgba(72, 76, 80, 0.25);
	text-shadow: 0 1px 0 #479918;
    border-color: transparent transparent rgba(124,173,82,0.27) transparent; 
}

.message {
  padding: 8px 35px 8px 14px;
  margin-top: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #E9F2F9;
  border: 1px solid #9CC4E4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	color: #3A89C9;
}


input[type=email], input[type=text] {
	font-size: 16px;
	color: #CCCCCC;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	padding: 6px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
}